<section class="section" id="highlights">
  <div class="wrap stack-l">
    {% set headHeading = galleries.home.heading %}
    {% set headAside = false %}
    {% include "partials/section-head.njk" %}

    {% set videoId = event.highlightsVideoId %}
    {% set videoPoster = event.highlightsVideoPoster %}
    {% set videoTitle = "NEDC25 in ninety seconds" %}
    {% include "partials/video.njk" %}

    {% set images = galleries.home.images %}
    {% set galleryId = "home" %}
    {% include "partials/gallery-grid.njk" %}
  </div>
</section>
